[tool.poetry]
name = "scanapi"
version = "2.10.1"
description = "Automated Testing and Documentation for your REST API"
authors = ["The ScanAPI Organization <cmaiacd@gmail.com>"]
license = "MIT"
readme = "README.md"

repository = "https://github.com/scanapi/scanapi"
homepage = "https://scanapi.dev/"
keywords = ["python", "scanapi", "tests", "end2end", "endtoend", "integration tests", "json", "apis", "api rest"]

[tool.poetry.scripts]
scanapi = "scanapi:main"

[tool.poetry.dependencies]
python = ">=3.9,<4.0.0"
appdirs = "^1.4.4"
curlify2 = "^1.0.1"
MarkupSafe = "2.1.2"
rich = "13.3.5"
PyYAML = "~6.0.2"
Jinja2 = "~3.1.0"
click = "~8.0.3"
httpx = "^0.24.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
pytest-cov = "5.0.0"
pytest-freezegun = "0.4.2"
pytest-mock = "^3.14.0"
black = "24.10.0"
sphinx = "4.3.2"
sphinx_rtd_theme = ">=0.5,<1.3"
pre-commit = { version = "4.0.1", python = ">=3.9" }
isort = "^5.13.2"
bandit = "^1.7.10"
pytest-it = "^0.1.5"
flake8 = "7.1.1"
mypy = "1.11.2"
types-requests = "^2.32.0"
types-PyYAML = "~6.0.12"
types-setuptools = ">=67.7,<69.0"
gitlint = "0.18.0"
requests-mock = "1.12.1"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true

[tool.flake8]
# ignore line length check and warnings
ignore = "E501,W501,E231,W503"
exclude = ".git,__pycache__,docs/source/conf.py,old,build,dist"

[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
ignore_missing_imports = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_ignores = true

[tool.pytest.ini_options]
addopts="--it"

[tool.gitlint]
ignore = ["body-is-missing", "body-max-line-length"]
contrib = ["contrib-title-conventional-commits"]
ignore-merge-commits = true
ignore-revert-commits = true
ignore-squash-commits = true
regex-style-search = true

[tool.gitlint.ignore-by-title]
regex = "^Release(.*)|^Merge(.*)into(.*)"

[tool.gitlint.ignore-by-author-name]
regex = "^dependabot\\[bot\\]$"

[build-system]
requires = ["poetry>=1.0.9",  "poetry-dynamic-versioning"]
build-backend = "poetry.masonry.api"
