name: Lint check

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  check:
    name: check code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ScanAPI repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Runt Project Setup
        uses: ./.github/actions/setup
      - name: Test Code Lint
        run: |
          make check
          make mypy
