on: pull_request
name: Lint check
jobs:
  black:
    name: black check
    runs-on: ubuntu-latest
    steps:
      - name: Test Quality Code
        run: |
          make check
  flake8:
    name: flake8 check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: "Flake8 check"
        uses: TrueBrain/actions-flake8@master
        with:
          ignore: E501,W501,E231,W503  # ignore line length check and warnings